<!-- <ng-include src=" '/partials/view_totem.html' "></ng-include> -->
<div class="row content">
	<div class="small-4 columns build-background overflow-container">
        <div class="row row-full-width">
            <div class="small-12">
                <div class="totem-view-container">
                    <ul ng-model="items" ui-sortable>
                        <li ng-repeat="item in items">
                            <div class="monkey-block totem-block">
                                <!-- {{item}} -->
                            </div>
                        </li>
                    </ul>
                </div>
    		</div>
    	</div>
	</div>
	<div class="small-7 columns build-background overflow-container">
		<div class="row row-full-width">
			<div class="small-12 pagination-centered">
    			<div class="title-container">
                    <h3>
                        Getting Perforce Access
                    </h3>
                </div>
    		</div>
    	</div>
    	<div class="row">
			<div class="small-11 small-offset-1">
                <div class="text-instructions-container">
        			<p>
        				Don't worry, you cant! 
        			</p>
                </div>
    		</div>
    	</div>
    	<div class="row">
			<div class="small-12 pagination-centered">
                <div id="image-dropzone">
                    <form class="dropzone" enctype="multipart/form-data">
                        <input type="file" name="file" />
                    </form>
                </div>
    		</div>
    	</div>
	</div>
	<div class="small-1 columns sidebar full">
		<ng-include src=" 'partials/sidebar.html' "></ng-include>
	</div>
</div>