<!-- <ng-include src=" '/partials/view_totem.html' "></ng-include> -->
<div class="row full">
	
	<div class="small-4 columns build full shadow-inset">
		<div class="row">
			<div class="small-12 pagination-centered">
                <div class="title-container">
    		      <h1>Build</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 pagination-centered">
                <div class="totem-view-container">
                    <ul ng-model="items" ui-sortable>
                        <li ng-repeat="item in items">
                            <div class="monkey-block totem-block">
                                {{item}}
                            </div>
                        </li>
                    </ul>
                </div>
    		</div>
    	</div>
	</div>
	<div class="small-7 columns build full shadow-inset">
		<div class="row">
			<div class="small-11 small-offset-1">
    			<h3>
    				Getting Perforce Access
    			</h3>
    		</div>
    	</div>
    	<div class="row">
			<div class="small-11 small-offset-1">
    			<p>
    				Don't worry, you cant! 
    			</p>
    		</div>
    	</div>
    	<div class="row">
			<div class="small-12 pagination-centered">
    		</div>
    	</div>
	</div>
	<div class="small-1 columns shadow-inset sidebar full">
		<ng-include src=" 'partials/sidebar.html' "></ng-include>
	</div>
</div>