<!-- <ng-include src=" '/partials/view_totem.html' "></ng-include> -->
<div class="row content">
	<div class="small-4 columns build-background overflow-container">
        <div class="row row-full-width">
            <div class="small-12">
                <div class="totem-view-container">
                    <ul id="totemBlocksList" ng-model="totemBlocks" ui-sortable="sortableTotemBlocks">
                        <li id={{totemBlock.position}} ng-repeat="totemBlock in totemBlocks">
                            <div class="totem-block monkey-block" data-position={{totemBlock.position}} ng-class="{selectedBlock: $index==selectedBlockIndex}" ng-click="setSelectedBlock(totemBlock, $index)">
                                <p>selected block index: {{selectedBlockIndex}}</p>
                                <p>position: {{totemBlock.position}}</p>
                                <p>id: {{totemBlock.id}} </p>
                            </div>
                        </li>
                    </ul>
                </div>
    		</div>
    	</div>
	</div>
	<div class="small-7 columns build-background overflow-container">
		<div class="row row-full-width">
			<div class="small-12 pagination-centered">
    			<div class="title-container">
                    <h3 ng-bind="totemBlocks[selectedBlockIndex].title">
                    </h3>
                </div>
    		</div>
    	</div>
    	<div class="row">
			<div class="small-11 small-offset-1">
                <div class="text-instructions-container">
        			<p ng-bind="totemBlocks[selectedBlockIndex].content">
        			</p>
                </div>
    		</div>
    	</div>
    	<div class="row">
			<div class="small-12 pagination-centered">
                <div id="drop-target">
                    Drag Image Here
                </div>
                <img id="uploadPreview" ng-show="totemBlocks[selectedBlockIndex].block_image_url" ng-src={{totemBlocks[selectedBlockIndex].block_image_url}}></img>
    		</div>
    	</div>
	</div>
	<div class="small-1 columns sidebar full">
		<ng-include src=" 'partials/sidebar.html' "></ng-include>
	</div>
</div>