<div class="row content">
	<div class="small-12 columns">
		<div class="row row-full-width">
			<div class="small-5 columns">
				<div class="row library-filter-container">
					<span class="library-filter">All</span>
					<span class="library-filter">Assigned</span>
					<span class="library-filter">In Progress</span>
					<span class="library-filter">Completed</span>
				</div>
			</div>
			<div class="small-7 columns">
			</div>
		</div>
		<div class="row row-full-width"></div>
	</div>
</div>