<div class="row content">
	<div class="small-12 columns full-height">
		<div class="row row-full-width">
			<div class="small-5 columns">
				<div class="row library-filter-container">
					<span class="library-filter">All</span>
					<span class="library-filter">Assigned</span>
					<span class="library-filter">In Progress</span>
					<span class="library-filter">Completed</span>
				</div>
			</div>
			<div class="small-7 columns">
			</div>
		</div>
		<div class="row row-full-width full-height">
			<div class="small-1 columns full-height">
				<div class="">
					go left
				</div>
			</div>
			<div class="small-10 columns full-height">
				<div class="center-container full-height"> 
					<ul class="small-block-grid-4 full-height">
						<li class="totem-preview-container" ng-repeat="totemBlock in totemFlows">
							<div class="totem-preview"></div>
						</li>
					</ul>
				</div>
			</div>
			<div class="small-1 columns full-height">
				<div class="">
					go right
				</div>
			</div>
		</div>
	</div>
</div>