/* STRUCTURE  */
.row {
	max-width: 100% !important;
}

.full {
	// position: relative !important;
	padding: 20px 0 100% 0;
}
/* SKIN */
$background-texture-url: 'background.png';

body {
	background: url(image_path($background-texture-url)) !important;
	height: 100%;
	width: 100%;
	position:fixed !important;
}