<div class="">
  <div class="top-bar">
    <ul class="nav-bar">
      <div class="row">
        <div class="small-1 columns">
          <li class="active logo-nav"></li>
        </div>
        <div class="small-5 columns">
          <li class="active"><h4 href="#">{Name}</h4></li>
          <li class="active"><h4 href="#">{build}</h4></li>
          <li class="active"><h4 href="#">{explore}</h4></li>
        </div>
        <div class="small-5 columns">
          <li>
            <div class="row collapse">
              <div class="small-11 columns">
                <input type="text">
              </div>
              <div class="small-1 columns">
                <a href="#" class="alert button">Search</a>
              </div>
            </div>
          </li>
        </div>
        <div class="small-1 columns">
          <li class="active"><a href="#">{settings}</a></li>
        </div>
      </div>
    </ul>
  </div>
</div>