<nav class="top-bar hide-for-small">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="/">Totem</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="/build">Build</a></li>
          <li class="divider"></li>
          <li><a href="/explore">Explore</a></li>
          <li class="divider"></li>
          <li><a href="/user"><%= current_user.email%></a></li>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>

<div ng-view>
</div>