<div class="page-container">
<div class="row top-bar">
    <ul class="logo">
      <a>TOTEM</a>
    </ul
    <div class="small-1 columns">
       <a class="nav" href="/home">Totem Logo</a>
    </div>
    <div class="small-5 columns">
      <div class="row">
        <a class="nav" href="/build">Build</a>
      </div>
    </div>
    <div class="small-2 columns">
       <a class="nav" href="/build">Explore</a>
    </div>
    </div>

  <div ng-view>
  </div>

</div>