$build-texture-url: 'build_texture.png';
$bear-totem-url: 'bear_totem.gif';
$monkey-totem-url: 'monkey_totem.gif';
$face-totem-url: 'face_totem.gif';

.big {width: 300px; height: 50px; text-align: center;}

.bear-block {
	background: url(image_path($bear-totem-url));
}
.build-background {
	background: url(image_path($build-texture-url)) !important;
	background-repeat:no-repeat;	
}
.content-container textarea {
	height:20%;
}
#drop-target {
	background-color: #E0E0E0;
    border: 1px solid #000;

	height: 5em;
}
.face-block {
	background: url(image_path($face-totem-url));
}
#file-upload {
	width: 66%;
	height: 5em;
	background-color: #3f8db7;
	border: 1px solid black;
	border-radius: 4px;
	display: inline-block;
	h2 {
		color:white;
	}
}
#image-dropzone {
	height:4em;
	width:25%;
	background-color: red;
	display:inline-block;
	border-radius: 4px;
}
#image-dropzone input[type="file"] {
	opacity: 0;
}
.monkey-block {
	background: url(image_path($monkey_totem_url));
	background-size: 167px 294px;
}
.selectedBlock {
	border: 1px red solid;
}
.title-container {
	height: 4em;
	font-size: 1.5em;
	position:relative;
	input[type="text"]{
		margin-bottom: 5%;
		margin-top:0px;
		position: absolute;
		top: 25%;
		text-align: center;
		width: 100%;

	}
	h3 {
		margin-top:0px;
		margin-bottom: 0px;
		position: absolute;
		top: 25%;
		text-align: center;
		width: 100%;
	}
}

.totem-block {
	width: auto;
	height:100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.totem-view-container {
	padding-top:10%;
}
.totem-view-container li {
	display:inline-block;
	height:167px;
	width: 100%;
}

.totem-view-container ul {
	line-height:0;
}