$build-texture-url: 'build_texture.png';
$bear-totem-url: 'bear_totem.gif';
$monkey-totem-url: 'monkey_totem.gif';
$face-totem-url: 'face_totem.gif';

.bear-block {
	background: url(image_path($monkey_totem_url));
}
.build-background {
	background: url(image_path($build-texture-url)) !important;
	background-repeat:no-repeat;	
}
.face-block {
	background: url(image_path($monkey_totem_url));
}
.monkey-block {
	background: url(image_path($monkey_totem_url));
	background-size: 167px 294px;
}
.title-container {
	height: 4em;
	font-size: 1.5em;
	
	h1 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.totem-block {
	width: auto;
	height:100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.totem-view-container li {
	display:inline-block;
	height:167px;
	width: 100%;
}

.totem-view-container ul {
	line-height:0;
}

.view-container {
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 2em;
}