.library-filter-container {
	height: 5em;
}

.center-container {
	position:relative;
	height: 100%;
}

.totem-preview-container {
	height: 40% !important;
	padding: 1em 1em 1em 1em !important;
	position: relative;
}

.totem-preview {
	border: 1px solid black;
	border-radius: 15px;
	height: 100%;

}