.library-filter-container {
	height: 5em;
}

.center-container {
	position:relative;
	height: 100%;
}

.totem-preview-container {
	height: 40% !important;
	padding: 1em 1em 1em 1em !important;
	position: relative;
}

.totem-preview {
	border: 1px solid black;
	border-radius: 15px;
	height: 100%;

}

.totem-name {
	min-height: 1em;
	position: relative;
	height: 2em;
	text-align: center;
	padding-top: 2%;
	border-bottom: 1px solid black;
}

.totem-description {
	margin-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}