$top-bar-height: 3em;
$background-texture-url: 'background.png';
$totem-logo-url: 'images/totem_logo.gif';
$add-totem-url: 'add_totem_shadow.gif';

/* STRUCTURE */

// .logo-nav {
// 	background: url(image_path($background-texture-url)) !important;
// }
a.btn-right-nav:hover {
	background-repeat: no-repeat !important;
	background-color: transparent !important;
}
a.logout {
	position:relative;
	top: 20%;
}
a.settings {
	position: relative;
	top: 20%;
}
a.new-totem {
	position: relative;
	top: 10%;
}
li.right-controls:hover {
	background-repeat: no-repeat !important;
	background-color: transparent !important;
}
.left-nav {
	padding-left: 2em;
}

.left-nav input[type=search] {
	padding: 15px;
    // background: url(image_path('search_bar')) !important;
    margin: 0 0 10px 0;

}
.left-nav li a{
	background-color: transparent !important;
}

.left-nav li a:hover{
	background-color: transparent !important;
}

.left-nav li a h2{
	color: #fff;
	font-weight: 100;
	font-size: 2em;
	line-height: 2em;
	margin-right: .1em;
	margin: 0 auto;
}
.main-nav {
	background-color:transparent !important;

}
ul.main-nav .totem-logo img {
	height: 2em;
	margin-top: .2em;
	margin-left: 1em;
}

ul.main-nav .right-controls {
	margin-left:.1em;
	margin-right: .5em;
}

ul.main-nav .right-controls {
	a {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	}

	a.new-totem {
		background-image: url(image_path('add_totem_shadow.gif'));
		background-size: 27px 33px;
	}
	a.settings {
		background-image: url(image_path('setting_gear_shadow.gif'));
		background-size: 25px 25px;
	}
	a.logout {
		background-image: url(image_path('sign_out_shadow.gif'));
	}
}
	



ul.main-nav .right-controls #add-totem {
	// height: 2em;
	// margin: 0% auto;
	// margin-left: 1em;
}
ul.main-nav .right-controls #logout {
	// height: 2em;
	// margin: 0% auto;
	// margin-left: 1em;
}

.nav-bar li {
	position:relative;
	display: inline-block;
	height: $top-bar-height;
	vertical-align: top;
}

.top-bar {
	height: $top-bar-height !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}


/* SKINS */

.top-bar {
	background-image: -webkit-linear-gradient(left, #89D1F4, #B4DBF5) !important; 
	background-image: -moz-linear-gradient(left, #89D1F4, #B4DBF5) !important;
	background-image: -ms-linear-gradient(left, #89D1F4, #B4DBF5) !important;
	background-image: -o-linear-gradient(left, #89D1F4, #B4DBF5) !important;
}
