.top-bar {
	background-image: -webkit-linear-gradient(top, #89D2F5, #B4DBF5) !important; 
	background-image: -moz-linear-gradient(top, #89D2F5, #B4DBF5) !important;
	background-image: -ms-linear-gradient(top, #89D2F5, #B4DBF5) !important;
	background-image: -o-linear-gradient(top, #89D2F5, #B4DBF5) !important;
	height: 3em !important;
}

.top-bar a{
	background-image: -webkit-linear-gradient(top, #89D2F5, #B4DBF5) !important; 
	background-image: -moz-linear-gradient(top, #89D2F5, #B4DBF5) !important;
	background-image: -ms-linear-gradient(top, #89D2F5, #B4DBF5) !important;
	background-image: -o-linear-gradient(top, #89D2F5, #B4DBF5) !important;
}

li.divider{
	border-left: white !important;
	border-right: white !important;
}