$add-block-url: 'add_totem.gif';
$remove-block-url: 'delete_totem.gif';
$addVideoIcon: 'video_camera.gif';
$addLinkIcon: 'link_to.gif';
$stopIcon: 'access_needed.gif';
$personIcon: 'see_person.gif';
$pictureIcon: 'attach_picture.gif';
$sidebar-texture-url: 'sidebar_texture.png';
$arrow-up-url: 'up_arrow.gif';
$arrow-down-url: 'arrow_down.gif';
$save-totem-url: 'save_totem.gif';
$trash-totem-url: 'trash_icon.gif';
$send-totem-url: 'export.gif';

.sidebar {
	background: url(image_path($sidebar-texture-url)) !important;
}

.sidebar-btn {
	background-repeat:no-repeat;
	background-size: 40% auto;
	margin: auto auto;
	background-position: 63% 50%;
	cursor: pointer;
}

.sidebar-btn:hover {
	opacity: .5;
}


.btn-add-block {
	background-image: url(image_path($add-block-url));
}
.btn-remove-block {
	background-image: url(image_path($remove-block-url));
}
.btn-link {
	background-image: url(image_path($addLinkIcon));
}
.btn-stop {
	background-image: url(image_path($stopIcon));
}
.btn-person {
	background-image: url(image_path($personIcon));
}
.btn-picture {
	background-image: url(image_path($pictureIcon));
}
.btn-arrow-up {
	background-image: url(image_path($arrow-up-url));
}
.btn-arrow-down {
	background-image: url(image_path($arrow-down-url));
}
.btn-save-totem {
	background-image: url(image_path($save-totem-url));
}
.btn-trash-totem {
	background-image: url(image_path($trash-totem-url));
}
.btn-send-totem {
	background-image: url(image_path($send-totem-url));

}

.edit-send-email-container {
	margin-left: -100%;
	height: 100%;
	width:200% !important;
	background-color: black;
	position:relative;
	padding: 20% 20% 0% 20%;
	input[type="text"]{
		position: absolute;
		// top: 30%;
	}
}

.send-container {
	$container-width: 500%;
	padding-right: 200%;
	
	background: black;
}

.send-container :hover{
	opacity: 100%;
}

.sidebar {
	padding-left:0 !important;
	padding-right:0 !important;
}

.sidebar .row {
	margin-left:0 !important;
	margin-right:0 !important;
	padding-left:0 !important;
	padding-right:0 !important;
}

.sidebar .columns {
	margin-left:0 !important;
	margin-right:0 !important;
	padding-left:0 !important;
	padding-right:0 !important;
}

.sidebar li {
	width: 100%;
	border-bottom:thin solid #89D2F5;
	height: 5em;
}


