<section class="top-bar-section">
  <div class="top-bar">
    <ul class="title-area main-nav">
      <!-- Link to view -->
      <li class="totem-logo name" ng-click="goToLibraryView()">
          <img src="/images/totem_logo.gif">
          </img>
      </li>
    </ul>
    <ul class="left main-nav left-nav">      
      <li class="name search-container">
        <input alt="search" placeholder="Search" type="text" ng-model="searchQuery">
        <span class="search-btn-container" ng-click="search(searchQuery)">
        </span>
      </li>
    </ul>
    <ul class="right main-nav">
      <li class="name right-controls">
        <a class="btn-right-nav logout" ng-click="signOut()"></a>
      </li>
    </ul>
  </div>
</section>