<div class="row">
	<ul class="nav-bar vertical">
		<div class="four columns">
		<li class="sidebar-btn progress" ng-bind="(totemBlocks[selectedBlockIndex].position + 1)+ '/' + totemBlocks.length"></li>
		<li class="sidebar-btn btn-add-block" ng-click="addBlock()"></li>
		<li class="sidebar-btn btn-remove-block" ng-click="removeBlock()"></li>
		<li class="sidebar-btn btn-arrow-up" ng-click="previousBlock()"></li>
		<li class="sidebar-btn btn-arrow-down" ng-click="nextBlock()"></li>
		<li class="sidebar-btn btn-save-totem" ng-click="saveTotem()"></li>
		<li class="sidebar-btn btn-trash-totem" ng-click="trashTotem()"></li>
		<li ng-class="{'send-container': sendReady}" class="sidebar-btn btn btn-send-totem" ng-click="openSendTotemContainer()">
			<div ng-show="sendReady">
				<input type="text" ui-keypress="{enter: 'sendTotem(sendTotemEmail)'}" ng-model="sendTotemEmail">
			</div>
		</li>
	</ul>
</div>
