$animation-speed: 200ms;

//Basic drop in animation - used in build view
.animate-enter, 
.animate-leave
{ 
    transition: $animation-speed cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    top: 0;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    top: -50px;
    height: 0px;
}



//
.totemFlowsAnimation-enter,
.totemFlowsAnimation-leave 
{
    transition: $animation-speed cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.totemFlowsAnimation-enter.totemFlowsAnimation-enter-active,
.totemFlowsAnimation-leave {
    opacity: 1;
    top: 1;
}

.totemFlowsAnimation-leave.totemFlowsAnimation-leave-active,
.totemFlowsAnimation-enter {
    opacity: 0;
}
