.shadow-below{
	margin-bottom: 20px !important;
	box-shadow: 0px 1px 20px 1px #000;
}

.shadow-inset{
	box-shadow: inset 5px 5px 17px #888;
}

.shadow-right{
    box-shadow: 5px 0px 9px -1px #888 ;
	// box-shadow: 10px 0px 20px 1px #000;
}
