<!-- <h1>Totem Splash Page</h1> -->
<div class="page-container">
	<div class="header">
		<div class="row">
			<div class="small-6 small-centered columns">
				<h1>Totem</h1>
			</div>
		</div>
	</div>
	<form>
			<div class="row">
				<div class="small-6 small-centered columns">
					<label for="email-field">Email</label>
				</div>
			</div>
		</form>
	<div class="row content-container">
		<div class="small-6 small-centered columns">
			<div ng-class="transition_to_login" class="btn-totem" ng-click="transition()"></div>
		</div>
	</div>
</div>
