<!DOCTYPE html>
<html ng-app="TotemApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title>Totem</title>
  	<%= stylesheet_link_tag "application", :media => "all" %>
  	<%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>
	<%= javascript_include_tag "application" %>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
</body>
</html>
