<!DOCTYPE html>
<html ng-app="TotemApp">
<head>
  <title>Totem</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>
	<%= javascript_include_tag "application" %>
</body>
</html>
